:root {
  --primary-light: #ddd;
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --secondary-dark-hover: #4a4f57;
  --secondary-dark-active: #5b5f68;
  --header: #111720;
  --primary-yellow: #fac650;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

#header {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  background-color: var(--header);
  font-size: 32px;
  color: var(--primary-yellow);
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px;
}

#options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: space-around;
}

#colorpicker {
  width: 100%;
}

button {
  display: flex;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  border: 1px;
  border-color: var(--primary-light);
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button:hover {
  transform: scale(1.05);
}

.btn-off {
  display: flex;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  border: 1px;
  border-color: var(--primary-light);
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-on {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  border-color: var(--primary-dark);
  border: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
}

#grid {
  display: flex;
  border: 5px;
  border-style: solid;
  border-color: var(--secondary-dark);
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

@media (max-width: 550px) {
  #grid {
    width: 200px;
    height: 200px;
  }

  #main {
    gap: 20px;
    padding: 5px;
  }

  #options {
    width: 60px;
  }

  #sizeslider {
    width: 50px;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: var(--primary-light);
  font-size: 20px;
  background-color: var(--primary-dark);
}

.fa-github {
  color: var(--primary-light);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
